@charset "UTF-8";

footer { display: none; }

.mainContainer { 
  height:100vh; 
  display: grid; 
  grid-template-rows: auto auto auto; 
  grid-template-columns: 100%; 
  grid-template-areas:  
    "login" 
    "map" 
    "rating" 
  ; 
} 

@media screen and (min-width: 44.001em) { 
  footer { display: block; }
  .mainContainer { 
    grid-template-rows: 50px 650px auto;
    /*grid-template-columns: 80% 20%; */
    grid-template-columns: auto minmax(350px, 400px);
    grid-template-areas:  
      "login      login" 
      "map        rating" 
      "userRating userRating " 
    ; 
  } 
  
}

#loginInfo{
  width: 100%;

}
#registrationLink{
	text-align: right;
}
header {
	padding: 15px;
	border-bottom: 1px solid #fff;
	background-color: #D8D8D8;
    grid-area: login;
}


article {
	
	border-bottom: 2px solid #fff;
    background: white;
    grid-area: map;

}


aside {
	border-bottom: 2px solid #fff;
    background:#F3E2A9;
    grid-area: rating;
   
    
}

footer {
	padding: 15px;
	border-bottom: 2px solid #fff;
    background: #D8D8D8;
    grid-area: userRating;
}

#bewertungsDiv {
	width: 300px; 
	background: #F9EECF; 
	border: 1px solid black; 
	text-align: left;
  padding: 15px; 
}


#registration {
	position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    padding: 15px;
    border: 3px solid #2c3d03;
    background: #ffe6b3;
    z-index: 1000;    
}

.form-container {
  position: absolute; top: 70px; left: 50px;   border: 3px solid #2c3d03; background: #ffe6b3; z-index: 1000; width: auto;
        max-width: 600px;
        margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
        
    }

.form-container label, .form-container input {
      font-size: 10px;
        }

.form-container label{
  margin-left: 10px;
  font-size: 16px;	
}
#login_,#pwd,#confirmPassword,#vorname,#nachname,#email,#IDbenutzer,#strasse,#nr,#plz,#ort{
  height: 25px;
  width: 98.5%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 14px;
}
.form-container input[type="submit"] ,  #cancelButton{ 
        padding: 10px;
        background-color: #4CAF50;
        color: white;
  width: 100%;
  font-size: 13px;     
 }
#lab_user,#username ,#lab_pwd ,#password , #Btnanmelden,#registrationLink {
  font-size: 20px;
}
#accessError {
    color: red;
}

